@{
    ViewBag.Title = "Контакт";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Фьоникс Фарма ЕООД<br />
    София<br />
    Околвръстен път 199А<br />
    Отдел "Информационни технологии"<br />
    <!--<abbr title="Телефон">P:</abbr>
    425.555.0100-->
</address>

<address>
    <strong>Support:</strong>
    Фина Меранзова<br />
    <a href="mailto:f.meranzova@phoenixpharma.bg">f.meranzova@phoenixpharma.bg</a><br />
    <!--<strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>-->
</address>